.experience {
    padding-left: 15%;
    min-height: 80vh;
}
.job-title {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
    /* color: blue */
}

.job-company {
    font-family: sans-serif;
    font-size: 28px;
    /* color: blue */
    font-weight: bold;
}
.job-duration {
    font-family: sans-serif;
    font-size: 28px;
    /* color: blue */
}

ul {
    list-style: none;
    margin-left: -40px;
}

.job-description li::before {
    content: "▹    ";
    position: absolute;
    left: 0;
}

.job-description li {
    position: relative;
    padding-left: 30px;
    padding-bottom: 16px;
    font-size: 18px;
    /* color: blue */
}

.job-description {
    padding-top: 24px;
    max-width: 650px;
    font-family: sans-serif;
    font-size: 20px;
}

.job-description a,
.job-description b {
    font-size: 19px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .experience {
        padding-left: unset;
        padding-right: unset;
    }

    .job-title {
        font-size: 22px;
    }

    .job-company {
        font-size: 22px;
    }
}